@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-family: 'Titillium Web', sans-serif;
	font-size: 16pt;
}
.container{
	width: 1140px;
	margin: 0 auto;
}
.col-25{
	width: 25%;
	float: left;
}
.col-50{
	width: 50%;
	float: left;
}
.col-75{
	width: 75%;
	float: left;
}
.col-100{
	width: 100%;
	float: left;
}
.clearfix::after{
	clear: both;
	content: "";
	display: table;
}
/*header*/
header{
	background-color: #663399;
	padding-top: 25px;
	color: #fff;
}
header h1{
	margin-top: 5px;
}
header .nav{
	list-style-type: none;
	text-align: right;
}
header .nav-item{
	display: inline-block;
	margin: 15px 10px;
	padding: 3px 9px;
	text-transform: uppercase;
	border-radius: 5px;
}
header .nav-item:hover{
	background-color: #510a62;
}
header .nav-link{
	text-decoration: none;
	color: #fff;
}
header p{
	text-align: center;
	padding-top: 70px;
	font-size: 32px;
}
header .click{
	display: block;
	width: 270px;
	height: 65px;
	background-color: #e3783a;
	margin: 70px auto;
	padding: 15px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	text-transform: uppercase;
}
/*services*/
.services{
	background-color: #27bbb4;
	color: #fff;
	padding: 90px 0px;
}
.services h2{
	text-align: center;
	text-transform: uppercase;
	word-spacing: 5px;
	letter-spacing: 2px;
}
.services .col-100 p{
	text-align: center;
	margin: 8px;
}
.services h2::after{
	content: "";
	background-color: #667176;
	display: block;
	width: 80px;
	height: 3px;
	margin: 9px auto;
	opacity: 0.5;
}
.services img{
	display: block;
	width: 50%;
	margin: 50px auto;
}
.services h3{
	text-transform: uppercase;
	text-align: center;
}
.services .col-25 p{
	text-align: center;
	margin: 0 20px;
	
}
/*meet*/
.meet{
	background-color: #c9c3c3;
	color: #000;
	padding: 90px 0px;
}
.meet h2{
	text-transform: uppercase;
	text-align: center;
	word-spacing: 3px;
	letter-spacing: 3px;
}
.meet h2::after{
	content: "";
	background-color: #667176;
	display: block;
	width: 80px;
	height: 3px;
	margin: 9px auto;
	opacity: 0.5;
}
.meet .col-100 p{
	text-align: center;
	margin-bottom: 40px;
}
.meet img{
	display: block;
	width: 65%;
	border-radius: 50%;
	margin: 40px auto;
}
.meet h3{
	text-align: center;
	text-transform: uppercase;
}
.meet h4{
	text-align: center;
	color: #2bb7b7;
	margin-bottom: 20px;
}
.meet .col-25 p{
	text-align: center;
	padding: 0 30px;
}
.meet .nav{
	text-align: center;
	list-style-type: none;
	margin-top: 15px;
}
.meet .nav-item{
	display: inline-block;
	margin-left: 5px;
	background-color: #889297;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	padding-top: 4px;
}
.meet .ash{
	height: 282px; 
}
.meet .nav-item a{
	text-decoration: none;
	color: #fff;
}
/*what*/
.what{
	background-color: #e91e63;
color: #fff;
}
.what .content{ 
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
}
.what h2{
	text-align: center;
	text-transform: uppercase;
	word-spacing: 3px;
	letter-spacing: 3px;
}
.what h2::after{
	content: "";
	background-color: #667176;
	display: block;
	width: 80px;
	height: 3px;
	margin: 9px auto;
	opacity: 0.5;
}
.what .col-100 p{
	text-align: center;
	margin-bottom: 50px;
}
.what h3{
	text-transform: uppercase;
}
.what img{
	display: block;
	width: 20%;
	border-radius: 50%;
	float: left;
}
.what .banner{ 
	padding-bottom: 100px;
}
.what .info{
	display: block;
	width: 80%;
	float: left;
	padding: 0 40px 60px 40px;
	box-sizing: border-box;
}
.what .info q{
	font-style: italic;
}
.what .info h3{
	padding-top: 20px;
}
/*get*/
.get{
	background-color: #2d6ebf;
	color: #fff;
}
.get h2{
	text-align: center;
	text-transform: uppercase;
	padding-top: 40px;
	word-spacing: 3px;
	letter-spacing: 3px;
}
.get h2::after{
	content:"";
	display: block;
	width: 80px;
	height: 3px;
	background-color: #858d8b;
	margin: 9px auto;
	opacity: 0.5;
}
.get p{
	text-align: center;
	padding-bottom: 50px;
}
.get input{
	display: block;
	width: 500px;
	height: 40px;
	margin: 0 auto;
	background-color: #19489b;
	border: none;
	border-radius: 4px;
	color: #fff;
}
.get input[type=text]{
	padding: 2px 0 0 10px;
}
.get input[type=text]{
	padding: 2px 0 0 10px;
}
.get textarea{
	padding: 7px 0 0 10px;
}
.get textarea{
	display: block;
	width: 1070px;
	height: 120px;
	margin: 30px auto;
	background-color: #19489b;
	border: none;
	border-radius: 4px;
	color: #fff;
}
.get a{
	display: block;
	text-align: center;
	margin: 40px auto 70px;
	text-decoration: none;
	background-color: #23dae3;
	width: 200px;
	height: 50px;
}
/*footer*/
footer{
	background-color: #484cc3;
}
footer .nav{
	list-style-type: none;
	text-align: center;
}
footer .nav-item{
	display: inline-block;
	padding: 20px 15px;
	margin-left: 25px;
	text-transform: capitalize;
}
footer .nav-item:hover{
	background-color: #181db1;
}
footer .nav-link{
	text-decoration: none;
	color: #fff;
}